$black: #121212;
$white: #ffffff;      
$primary-color: #D51007;   
$dark-primary: darken($primary-color, 10%);  
$light-primary: lighten($primary-color, 20%);  
$dark-gradient: #000000;  

$salmon: #FFCACE;
$purple-card: #A56EFF;
$green-card: #50F0B5;
$blue-card: #4285F4;
$card-background: #181818;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin underline-create {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  bottom: 7px;
  left: 0;
}

@mixin button {
  background-color: $primary-color; 
  width: 120px;
  height: 50px;
  border-radius: 6px;
}

@mixin wrappers {
  width: 100vw;
  padding: 7% 15%;
  min-height: calc(100vh - 230px);
}

@mixin clipping {
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%);
}

@mixin text-decorate {
  text-transform: uppercase;
  text-decoration: underline;
}

@mixin page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 150vw;
  margin-left: -22%;
  position: relative;

  @media (max-width: 768px) {
    height: fit-content;
    padding-top: 50px;
    width: 100vw;
  }

  .report-headline-border {
    @include lines-border();
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-right: 5%;

    @media (max-width: 768px) {
      width: 90px;
      height: 90px;
    }
  }

  .tags-texts, .user-texts{
    @include flex-column();
    width: 70vw;

    h2 {
      font-weight: 700;
      font-size: 72px;
      line-height: 100px;

          
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 45px;
      }
    }

    h4 {
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;

      @media (max-width: 768px) {
        font-size: 24px;
      }
    }

    h5 {
      font-weight: 700;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 3px;
      }
    }

    span {
      font-weight: 600;
      line-height: 25px;

      @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

  }
}

@mixin lines-border {
  background: url('https://www.last.fm/static/images/listening-report/v3/bg-lines.73682e46b8be.svg');
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@mixin showcase-columns {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  h2 {
    @include text-decorate();
    margin-bottom: 20px;
  }

  .tags, .artists {
    width: 45%;
    @include listing-tags();

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .tag-artists, .tag-songs, .tag-albums {
    width: 32%;
    @include listing-tags();

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 20px;
    }
  }
}

@mixin listing-tags {
  @media (max-width: 768px) {
    margin-bottom: 10vh;
  }

  .main-tag, .main-artist, .main-song, .main-album {
    @include flex-column();
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    transition: 0.3s ease all;
    margin-bottom: 50px;
    cursor: pointer;
 
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.01);
    }

    h3 {
      display: flex;
      align-items: center;
      z-index: 2;
      font-size: 32px;
      padding: 40px;
      width: 100%;
      height: 100px;
      font-weight: 700;
    }
    
    .main-tag-img, .main-artist-img, .main-song-img, .main-album-img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      position: absolute;
      z-index: 0;
    }

    .shadow {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      position: absolute;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .identifier {
      @include flex-center();
      width: 100px;
      height: 40px;
      position: absolute;
      bottom: 12vh;
      left: 5%;
      background-color: $purple-card;
      color: $black;
      z-index: 2;
      font-size: 18px;
      font-weight: 600;
    }

    .main-tag {
      position: absolute;
      z-index: 2;
      bottom: 5vh;
      left: 80%;
    }

    .image-add-info {
      position: absolute;
      top: 5%;
      right: 5%;
      font-size: 21px;
      text-shadow: 
      -2px -2px 0 black,  
       2px -2px 0 black,
      -2px  2px 0 black,
       2px  2px 0 black; /* Creates an outline effect */
    }
  }

  .tag-div {
    @include clipping();
    width: 100%;
    padding: 30px;
    margin-bottom: 5px;
    background-color: $card-background;
    transition: 0.3s ease all;
    cursor: pointer;

    @media (max-width: 768px){
      &:nth-child(n+21) {
        display: none;
      }
    }

    &:hover {
      transform: scale(1.03);
    }

    h3 {
      font-size: 21px;
    }

    span {
      margin: 10px;
      font-size: 15px;
    }
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-barlow), sans-serif;
    margin: 0;
    padding: 0;
    background: $dark-gradient no-repeat;
    color: $white;
    min-height: 100vh;
    overflow-x: hidden;
}

h3, a {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 18px;
}

.header {
  width: 100vw;
  height: 180px;
  display: flex;
  align-items: center;
  padding-left: 15%;

  .title {
    position: relative;
    font-size: 72px;
    color: $white;

    &:after{
      content: 'tagnalyzer';
      cursor: cell;
      position: absolute;
      top: -2px;
      left: 2px;
      color: $primary-color;
      z-index: 1;
      transition: 0.2s ease-in-out all;
    }

    &:hover:after {
      top: -4px;
      left: 4px;
    }
  }

  @media (max-width: 768px) {
    @include flex-center();
    padding: 0;
  }
}

.credits {
  position: relative;
  width: 200px;
  margin-left: calc(50% - 100px);
  opacity: 0.5;
  margin-bottom: 100vh;
}

.home-wrapper{
  @include wrappers();
  position: relative;
  
  .title-div {
    @include flex-column();
    
    span {
      @include text-decorate();
      font-size: 64px;
      font-weight: 700;
      letter-spacing: -3px;

      @media (max-width: 768px) {
        font-size: 11vw;
      }
    }

  }

  .subtitle-div {
    margin-top: 3%;
    @include flex-column();
    
    span {
      font-size: 21px;
      @media (max-width: 768px) {
        font-size: 4.5vw;
      }
    }
  }

  .input-div {
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
    align-items: center;

    @media (max-width: 768px) {
      @include flex-column();
      padding: 0;
      margin-top: 10vh;
    }

    input {
      width: 50%;
      border: none;
      background: transparent;
      color: white;
      padding: 15px 10px;
      font-size: 16px;
      height: 50px;
      margin-top: 20px;
      outline: none;

      @media (max-width: 768px) {
        width: 100%;
        border-bottom: 1px solid $white;
      }

      &:focus {
        & ~ .underline::after {
          transform: scaleX(1);
        }
      }   
    }
    
    .underline {
      &:before {
        @include underline-create();
        background: $white;
      }
    
      &:after {
        @include underline-create();
        background: $primary-color;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
        transform-origin: left;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    select {
      width: 20%;
      border: none;
      background: transparent;
      color: $white;
      padding: 15px 3px;
      font-size: 16px;
      height: 50px;
      margin-top: 20px;
      outline: none;
      cursor: pointer;
      position: relative;
      appearance: none; 

      @media (max-width: 768px) {
        width: 100%;
        border-bottom: 1px solid $white;
      }

      option {
        background: $card-background;
        color: $white;
        padding: 10px;
        
        &:hover {
          background: $dark-primary;
        }
      }
  
      &:focus {
        & ~ .select-underline::after {
          transform: scaleX(1);
        }
      }
    }
  
    .select-underline {
      &:before {
        @include underline-create();
        margin-left: calc(65% - 60px);
        width: 20%;
        background: $white;
      }
    
      &:after {
        @include underline-create();
        margin-left: calc(65% - 60px);
        width: 20%;
        background: $primary-color;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
        transform-origin: right;
      } 

      @media (max-width: 768px) {
        display: none;
      }
    }

    .search-button {
      @include button();
      @include flex-center();
      color: white;
      padding: 7px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s ease;
      margin-top: 20px;
 
      @media (max-width: 768px) {
        width: 40vw;
      }

      &:hover{
        background-color: $white;
        transform: translate(5px, -5px);
        color: $primary-color;

      }
    }

    .search-button-background {
      @include button();
      position: absolute;
      z-index: -1;
      top: 20px;
      right: 0;

      @media (max-width: 768px) {
        width: 40vw;
        right: 21.5%;
        top: calc(100% - 50px);
      }
    }
  }

  .logo {
    position: absolute;
    top: 0%;
    right: 20%;
    height: 40vh;
    width: 40vh;
    @media (max-width: 768px) {
      z-index: -1;
      right: -10%;
      top: 50%;
      opacity: 0.4;
    }
  }
}

.user-wrapper {
  @include wrappers();
  padding-top: 0%;

  .loading-div{
    @include flex-center();
  }

  .user-div {
    @include flex-column(); 

    .user-profile {
      @include page-header();
      background-color: $salmon;
      color: $card-background;
      padding: calc(5% + 40px) 20% 5% 20%;
    
    }

    .most-listened-div {
      @include showcase-columns();
    }
  }
}

.tag-wrapper {
  @include wrappers();
  padding-top: 0%;

  .loading-div{
    @include flex-center();
  }

  .tags-div {
    @include flex-column();
  }

  .tags-profile {
    @include page-header();
    background-color: $purple-card;
    color: $card-background;
    padding: 5% 20%;

  }

  .most-listened-div {
    @include showcase-columns();
  }

}